<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div style="padding: 5% 5% 10px 5%">
    <div><span style="font-size: 40px;color: #222222;font-weight:bold;">测试</span></div>
    <div style="float:left;font-size: 20px;color: #999999;"><span>作者:博学教育</span></div>
    <div style="float:right;font-size: 20px;color: #999999;"><span>2019/02/07 14:55</span></div>
    <div style="line-height:22px;float:left;margin-top: 25px;">
        <div><p>If you already use Spring Cloud Discovery for your applications you don’t need the SBA Client. Just add
            a DiscoveryClient to Spring Boot Admin Server, the rest is done by our AutoConfiguration.</p></div>
        <div><p>The following steps uses Eureka, but other Spring Cloud Discovery implementations are supported as well.
            There are examples using&nbsp;<a
                    href="https://github.com/codecentric/spring-boot-admin/tree/master/spring-boot-admin-samples/spring-boot-admin-sample-consul/">Consul</a>&nbsp;and&nbsp;<a
                    href="https://github.com/codecentric/spring-boot-admin/tree/master/spring-boot-admin-samples/spring-boot-admin-sample-zookeeper/">Zookeeper</a>.
        </p></div>
        <div><p>Also, have a look at the&nbsp;<a href="http://projects.spring.io/spring-cloud/spring-cloud.html">Spring
            Cloud documentation</a>.</p></div>
        <div>
            <ol>
                <li><p>Add spring-cloud-starter-eureka to your dependencies:</p></li>
            </ol>
        </div>
    </div>
</div>
</body>
</html>
